<div class="container mt-5">

  <h1>Clubs<strong class="text-color">R</strong>Us</h1>

  <% if policy(Club).create? %>
    <%= link_to '➕ Add a new club', new_club_path, class:"add-new-club-button" %>
  <% end %>
  

  <div class="row">
   <% @clubs.each do |club| %>
    <div class="card-container col-sm mt-5">
      <div class="card-image">
         <%# if club.photo.attached? %>
          <%#= cl_image_tag club.photo.key, class:"card-img-top", crop: :fill %>
        <%# end %>
        <img src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
        <%= link_to 'More details', club_path(club), class:'view-more-button' %>
      </div>
      <div class="card-content">
        <div class="content-left">
          <p><%= club.name %></p> 
           <p>Capacity: <%= club.capacity %></p> 
        </div>
        <div class="content-right">
          <p><%= club.address %></p> 
        </div> 
      </div>
    </div>
   <% end %>
   </div>
</div>
