<div class="container mt-5">

  <h1>Clubs'R'Us</h1>

  <% if policy(Club).create? %>
    <%= link_to '➕ Add a new club', new_club_path, class:"btn btn-primary" %>
  <% end %>
  
  <ul>
    <% @clubs.each do |club| %>
      <div class="card mt-5" style="width: 18rem;">
        <% if club.photo.attached? %>
          <%= cl_image_tag club.photo.key, class:"card-img-top", crop: :fill %>
        <% end %>
        <div class="card-body">
          <h3 class="card-title"><strong><%= club.name %></strong></h3>
            <p class="card-text"><%= club.description %></p>
            <%= link_to 'More details', club_path(club), class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </ul>
</div>
