<div class="container mt-5">

  <% if policy(Club).create? %>
    <%= link_to '➕ Add a new club', new_club_path, class:"add-new-club-button" %>
  <% end %>
  
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="row mb-5">
   <% @clubs.each do |club| %>
    <div class="card-container col-sm mt-5">
      <div class="card-image">
        <% if club.photo.attached? %>
          <%= cl_image_tag club.photo.key, class:"card-img-top", crop: :fill %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
        <% end %>
        <%= link_to 'More details', club_path(club), class:'view-more-button' %>
      </div>
      <div class="card-content">
        <div class="content-left">
          <h4 class="mb-3"><strong><%= club.name %></strong></h4> 
          <p class="mb-0">Capacity: <%= club.capacity %></p> 
          <p class="mb-0">Price: € <%= club.hourly_price %></p> 
          <p class="mb-2"><%= club.address %></p> 
        </div>
      </div>
    </div>
   <% end %>
   </div>
</div>
