<div class="container mt-5">
    <% if @club.photo.attached? %>
    <div class="d-flex justify-content-center">
      <%= cl_image_tag @club.photo.key, height: 300, width: 690, crop: :fill %>
    </div>
    <% end %>
  
  <div class="row">
    <div class="col show-page-content-box rounded">
      <h1 class="header-white text-center"><%= @club.name %></h1>
      <div class="d-flex justify-content-center">
        <% if policy(@club).edit? %>
          <%= link_to  "Edit #{@club.name}", edit_club_path, class:'button-green' %> <br>
        <% end %>
        <% if policy(@club).destroy? %>
          <%= link_to "Delete #{@club.name}", club_path, class:'button-orange', method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div> <br>

      <ul class="show-page-list">
        <li class="list-item">Capacity: <%= @club.capacity %></li>
        <li class="list-item">Price per hour: <%= @club.hourly_price %>€</li>
        <li class="list-item"> Address: <%= @club.address %></li>
        <li class="list-item">Description: <%= @club.description %></li>
      </ul>
      <div class="d-flex justify-content-center">
        <button>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
            <%= link_to "Back", clubs_path %>
        </button>

      </div>
    </div>
    <div class="col show-page-content-box rounded">
      <% if @club.user_id != current_user.id %>
        <div class="container">
          <h1>Book <%= @club.name %></h1>
          <%= simple_form_for [@club, @booking] do |f| %>
            <%= f.input :start_time, as: :date, label: "Start date" %>
            <%= f.input :start_time, as: :time, label: "Start time" %>
            <%= f.input :duration, label: "Duration (h)" %>
            <%= f.submit %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
