<h1>Book <%= @club.name %></h1>

<%= simple_form_for [@club, @booking] do |f| %>
  <%= f.input :start_time, label: "Start date" %>
  <%= f.input :duration, label: "Duration (h)" %>
  <%= f.submit %>
<% end %>