<div class="container mt-5">

  <h1>Bookings</h1>
  <% if @bookings.count > 0 %>
    <h5> My Outgoing Booking Requests </h5>
      <div class="container mt-4">
       <% @bookings.each do |booking| %>
        <div class="row rounded border border-secondary club-cards outgoing-bookings">
          <div class="col-8 p-4">
            <p><strong> <%= booking.club.name%></strong></p>
            <p>Start date: <%= booking.start_time %></p>
            <p> Duration: <%= booking.duration %>hr/hrs</p>
            <p>Price: <%= booking.total_price %>€</p>
          </div>
          <div class="col-4 mt-5 my-auto">
            <p>Booking status: <strong><%= booking.status %></strong></p>
          </div>
        </div>
        <% end %>
      </div>
  <% end %>

  <% if @clubs.count > 0 %>
      <h5> My Incoming Booking Requests </h5>
      <% @clubs.each do |club| %>
       <% club.bookings.each do |booking| %>
         <div class="container mt-5 justify-center">
            <div class="row rounded border border-secondary club-cards outgoing-bookings">
              <div class="col-8 p-4">
                <p><strong> <%= booking.club.name%></strong></p>
                <p>Start date: <%= booking.start_time %></p>
                <p> Duration: <%= booking.duration %>hr/hrs</p>
                <p>Price: <%= booking.total_price %>€</p>  
              </div>
              <div class="col-4 mt-5 my-auto">
                <p>Booking status: <strong><%= booking.status %></strong></p>
                  <div class="change-status mt-2">
                    <%= simple_form_for booking, method: :patch do |f| %>
                    <%= f.input :status, label: "Change booking status", collection: Booking::STATUS %>
                    <%= f.submit %>
                    <% end %>
                  </div>
               </div>
          </div>
        </div>
        <% end %>
      <% end %>
  <% end %>
</div>å